<h1>Climas Para esa fecha</h1>

<p>Buscando en nuestro servidor</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table' *ngIf="forecasts">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Precio. (C)</th>
            <th>Descripcion</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let forecast of forecasts">
            <td>{{ forecast.dateFormatted }}</td>
            <td>{{ forecast.temperatureC }}</td>
            <td>{{ forecast.summary }}</td>
        </tr>
    </tbody>
</table>
